*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --box-size: 16;
}

body {
    background-color: black;
}

#btn {
    margin: 10px;
    color: yellow;
    background-color: green;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    width: 750px; /* for window size of grid */
    height: 750px; /* for window size of grid */
}

.container div{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    color: violet;
    border: 1px solid violet;
    width: calc(100% / var(--box-size)); /* for actual grid size, where we divide 100 by the grid size input */
    /* height: calc(100% / var(--box-size)); */
    aspect-ratio: 1;
}