*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container div{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    color: violet;
    border: 2px solid violet;
    width: calc(100% / 16);
    aspect-ratio: 1;
}
